---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Space-X About">
	<main class="text-center">
		<h1 class="text-xl">Angel Moreno</h1>
		<a
			href="https://angel-m-r.github.io"
			class="m-10 px-10 py-4 inline-block border-teal-100 border-[1px] rounded-xl hover:bg-slate-800"
			>Portfolio</a
		>
	</main>
</Layout>

<style></style>
