---
const { href } = Astro.props;
---

<a
	class="w-62 rounded border border-current px-8 py-3 text-sm font-medium text-gray-400 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:text-indigo-500 stroke-gray-400"
	href={href}
>
	<slot />
</a>
